<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass]="{'dark-theme-mode':isDarkTheme}">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <mat-toolbar color="accent"></mat-toolbar>
        <div class="nav-img">
            <div mat-card-avatar class="header-image"></div>
            <div class="pro-name">
                Kanishka Senanayake
            </div>
        </div>

        <mat-nav-list class="sidenav-list">
            <a mat-list-item routerLink="home" class="nav-item">
                <mat-icon aria-hidden="false">dashboard</mat-icon>
                <span style="padding: 10%;"></span> Dashboard
            </a>
            <!-- <a mat-list-item routerLink="category" class="nav-item" (click)="hidden = !hidden">
                <mat-icon aria-hidden="false">category</mat-icon>
                <span style="padding: 10%;"></span> Category
                <span style="flex:auto"></span>
                <mat-icon *ngIf="hidden">expand_less</mat-icon>
                <mat-icon *ngIf="!hidden">expand_more</mat-icon>
            </a>
            <a mat-list-item [hidden]="hidden" *ngFor="let item of list">
                <span style="padding: 5%;"></span>
                <mat-icon aria-hidden="false">label_important</mat-icon>
                <span style="padding: 10%;"></span> {{item}}
            </a> -->
            <a mat-list-item routerLink="latest" class="nav-item">
                <mat-icon aria-hidden="false">view_list</mat-icon>
                <span style="padding: 10%;"></span> Latest Items
            </a>

            <a mat-list-item routerLink="search" class="nav-item">
                <mat-icon aria-hidden="false">search</mat-icon>
                <span style="padding: 10%;"></span> Search
            </a>
        </mat-nav-list>

    </mat-sidenav>


    <mat-sidenav-content class="sidenavcon">
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <div class="e-albania">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" id=orbit>
                    <circle fill=none stroke="#fff" stroke-width="5" cx=50 cy=50 r="40" />
                    <circle fill=#EB1E51 cx=50 cy=50 r="24" />
                    <text x="50%" y="50%" dominant-baseline="middle" width="34" text-anchor="middle" fill="#fff"
                        style="font-size:200%">A</text>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" id=electron>
                    <circle fill=#EB1E51 cx=10 cy=90 r="10" />
                </svg>
            </div>

            <span>mericanbuzzle</span>

            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                <ul fxLayout="row" fxLayoutGap="20px">

                    <li>
                        <div class="example-button-container">
                            <button mat-icon-button aria-label="Example icon button with a home icon">
                                <mat-icon>add_alert</mat-icon>
                            </button>
                        </div>
                    </li>
                    <li>
                        <mat-slide-toggle [(ngModel)]="isDarkTheme">
                            <mat-icon>nights_stay</mat-icon>
                        </mat-slide-toggle>
                    </li>
                    <li>
                        <div class="example-button-container">
                            <button mat-mini-fab [matMenuTriggerFor]="logOut" aria-label="Example icon button with a home icon">
                                <mat-icon>face</mat-icon>
                            </button>
                        </div>

                        <mat-menu #logOut="matMenu" class="nav-item">
                            <button mat-menu-item routerLink="/login" class="nav-item">LogIn</button>
                        </mat-menu>
                    </li>
                </ul>
            </div>

        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>