<div class="grid-container">
    <div class="carousel">
        <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)">
            <ng-container *ngFor="let slide of slidesStore">
                <ng-template carouselSlide [id]="slide.id">
                    <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>

    <button mat-stroked-button (click)="openSnackBar()">Show snack-bar</button>

    <div>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Category :</mat-label>
                <mat-select [(value)]="pcategory">
                    <mat-option></mat-option>
                    <mat-option [value]="cat.categoryname" *ngFor="let cat of categorys">{{ cat.categoryname }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div>
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile *ngFor="let card of cards | categoryFilter :pcategory: 'category' ">
                <app-post-card [post]="card"></app-post-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>