<div class="grid-container">
    <div class="carousel">
        <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)">
            <ng-container *ngFor="let slide of slidesStore">
                <ng-template carouselSlide [id]="slide.id">
                    <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>


    <mat-grid-list cols="2" rowHeight="450px">
        <mat-grid-tile *ngFor="let card of cards">
            <app-post-card [post]="card"></app-post-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>