<mat-card class="dashboard-card">
    <mat-card-title-group>
        <mat-card-title>
            {{post.titel}}
        </mat-card-title>
        <mat-card-subtitle>{{post.category}}</mat-card-subtitle>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <div>
                <button mat-raised-button (click)="open()" color="primary" type="submit">Buy Now</button>
            </div>
        </div>

    </mat-card-title-group>
    <img mat-card-image src="{{'http://www.api.americanbuzzle.com/api/'+post.img}}" alt="Photo of a Shiba Inu">



    <mat-card-content class="dashboard-card-content">
        <div>{{post.discriptions}}</div>
    </mat-card-content>
    <mat-card-actions>
        {{post.startdate | date}}
    </mat-card-actions>
</mat-card>