.grid-container {
    margin: 20px;
}

.dashboard-card {
    position: absolute;
    top: 75px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
    top: 80px;
    left: 15px;
    right: 15px;
    bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    border: 0.5px solid #000
}

.dashboard-card-content .stats-cards {
    margin-top: 35px;
}

.register-footer {
    top: 20px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.example-container {
    text-align: center
}

.form-container {
    width: 400 px;
    margin: 0 px auto;
    margin-top: 200 px
}

.form-field {
    width: 400px;
}

.profile-picture {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
    background-size: contain;
    border-radius: 1em;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    z-index: 2;
    border-radius: 1em;
}