<div fxFlex fxLayout="row" fxLayoutAlign="end center">
    <ul fxLayout="row" fxLayoutGap="20px">
        <li>
            <button mat-icon-button routerLink="/main" class="nav-item" color="accent">
                <mat-icon>dashboard</mat-icon>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </li>
        <li>
            <div class="example-button-container">
                <button mat-mini-fab [matMenuTriggerFor]="logOut">
                    <mat-icon>smart_button</mat-icon>
                </button>
            </div>

            <mat-menu #logOut="matMenu" class="nav-item">
                <button mat-menu-item (click)="logout()" routerLink="/login" class="nav-item">LogOut</button>
            </mat-menu>
        </li>
    </ul>

</div>
<div class="grid-container">
    <div fxFlex fxLayout="row" fxLayoutAlign="center">
        <mat-card class="dashboard-card mat-app-background">

            <mat-card-header>
                <mat-icon>shopping_cart</mat-icon>
                <mat-card-title>New Post</mat-card-title>

                <mat-card-subtitle>create new post</mat-card-subtitle>
                <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                    <div fxLayoutGap="20px">
                        <button mat-raised-button (click)="submit()" color="primary" type="submit">Submit</button>
                    </div>

                </div>
            </mat-card-header>

            <mat-card-content class="dashboard-card-content" color="primary">
                <!-- <cdk-virtual-scroll-viewport > -->
                <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px" class="stats-cards">
                    <div class="" fxFlex="1 1 auto">
                        <p>
                            <mat-form-field class="form-field" appearance="standard">
                                <mat-label>Post Title</mat-label>
                                <input matInput required placeholder="Title" [(ngModel)]="ptitle">
                                <button mat-button *ngIf="ptitle" matSuffix mat-icon-button aria-label="Clear" (click)="ptitle=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-icon matSuffix *ngIf="!ptitle">portrait</mat-icon>
                                <mat-hint>Devide Gutter</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="standard">
                                <mat-label>Original post link</mat-label>
                                <!-- <span matPrefix>https://www. &nbsp;</span> -->
                                <input matInput required placeholder="https://www." [(ngModel)]="plink">
                                <button mat-button *ngIf="plink" matSuffix mat-icon-button aria-label="Clear" (click)="plink=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-icon matSuffix *ngIf="!plink">share</mat-icon>
                                <mat-hint>https://www.exmple.com</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="fill">
                                <mat-label>Select</mat-label>
                                <mat-select required [(ngModel)]="pcategory" name="cat">
                                    <mat-option *ngFor="let cat of categorys" [value]="cat">
                                        {{cat.categoryname}}</mat-option>
                                </mat-select>
                                <mat-hint>Select post category</mat-hint>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Post Description</mat-label>
                                <input matInput required placeholder="Description..." [(ngModel)]="pdiscriptions">
                                <button mat-button *ngIf="pdiscriptions" matSuffix mat-icon-button aria-label="Clear" (click)="pdiscriptions=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-icon matSuffix *ngIf="!pdiscriptions">keyboard</mat-icon>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="form-field" color="primary" appearance="fill">
                                <mat-label>Post Create Date</mat-label>
                                <input matInput required [matDatepicker]="psd" [(ngModel)]="pstartdate">
                                <mat-datepicker-toggle matSuffix [for]="psd"></mat-datepicker-toggle>
                                <mat-datepicker #psd color="primary"></mat-datepicker>
                                <mat-hint>YYYY-MM-DD (Today)</mat-hint>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Post Expire Date</mat-label>
                                <input matInput [matDatepicker]="ped" [(ngModel)]="penddate">
                                <mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
                                <mat-datepicker #ped color="primary"></mat-datepicker>
                                <mat-hint>YYYY-MM-DD</mat-hint>
                            </mat-form-field>
                        </p>
                    </div>
                    <div fxFlex="1 1 auto">

                        <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                            <div class="container row">
                                <div class="col-md-12">
                                    <h1>Upload Post Image</h1>
                                </div>
                            </div>
                            <div class="profile-picture">
                                <img *ngIf="url" width=300 height=300 src="{{url}}" />
                            </div>
                            <div class="container row">
                                <div class="col-md-6">
                                    <input type="file" required #fileUpload (change)="onFileChanged($event)" accept="image/*" id="fileUpload" name="fileUpload" multiple="multiple">

                                </div>
                            </div>


                            <div class="container row">
                                <div class="col-md-12">
                                    <div *ngIf=message>{{message}}</div>
                                </div>
                            </div>
                        </div>






                    </div>
                </div>
                <!-- <p>
              <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p> -->

                <!-- </cdk-virtual-scroll-viewport> -->

            </mat-card-content>

        </mat-card>

    </div>
</div>